source/guides/github-actions-ci-cd-sample/* @webknjaz
source/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows.rst @webknjaz

# build-details.json
source/specifications/build-details/ @FFY00
source/specifications/specs/build-details-*.json @FFY00
