sphinx==3.3.0
sphinx-autobuild==0.7.1
sphinx-inline-tabs==2021.4.11b9
git+https://github.com/python/python-docs-theme.git#egg=python-docs-theme
git+https://github.com/pypa/pypa-docs-theme.git#egg=pypa-docs-theme
