sphinx==4.5.0
sphinx-autobuild==0.7.1
sphinx-inline-tabs==2021.4.11b9
python-docs-theme==2023.9
sphinx-copybutton==0.5.0
pypa-docs-theme @ git+https://github.com/pypa/pypa-docs-theme.git
sphinx-toolbox==3.5.0
