sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinx-inline-tabs==2023.4.21
python-docs-theme==2023.9
sphinx-copybutton==0.5.2
pypa-docs-theme @ git+https://github.com/pypa/pypa-docs-theme.git
sphinx-toolbox==3.5.0
