.rst-content table.field-list .field-name {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
}

.rst-content table.field-list .field-body {
    border: 1px solid #ddd;
    padding: 5px;
}